--- 
android: 
  components: 
    - tools
    - build-tools-23.0.1
    - android-23
    - extra-android-support
    - extra-android-m2repository
before_install: 
  - "chmod +x gradlew"
jdk: oraclejdk7
language: android
